.header {
    padding: 15px 20px;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;

    .active {
        font-weight: bold;
    }

    div {
        margin-right: 15px;
    }
}
