.header {
    padding: 20px;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;

    .active {
        font-weight: bold;
    }

    .debug {
        color: rgb(200, 200, 200);
    }

    div {
        margin-right: 20px;
    }
}
