<h1 class="h2">Strategies</h1>

<button [routerLink]="['new']">New</button>

<ng-container *ngIf="items$ | async as items; else loadingBlock">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td [routerLink]="[item.id]">edit</td>
                <td (click)="delete(item.id)">delete</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #loadingBlock>
    <div>Loading items...</div>
</ng-template>
